.flexOrder {
  display: flex;
  gap: 5rem;
}

.flexOrder img {
  border-radius: 50%;
}

.flexOrder:nth-child(even) p {
  order: -1;
  /* order: 1;
  border: 1px solid red; */
}
/* 
.flexOrder:nth-child(odd) img {
  order: 2;
} */
